snippet if
if (${1:conditional}) {
	${0:# statements}
}
endsnippet

snippet for
for (${1:$i}=${3:0}; $1 -le ${4:20}; $1++) {
	${0:# statements}
}
endsnippet

snippet foreach
foreach (${1:$i} in ${2:variable}) {
	${0:# statements}
}
endsnippet
