snippet #!
#! /usr/bin/env bash

$0

exit 0
endsnippet

snippet if
if [[ ${1:conditional} ]]; then
	${0:# statements}
fi
endsnippet

snippet elif
elif [[ ${1:conditional} ]]; then
	${0:# statements}
endsnippet

snippet while
while [[ ${1:conditional} ]]; do
	${0:# statements}
done
endsnippet

snippet until
until [[ ${1:conditional} ]]; do
	${0:# statements}
done
endsnippet
